.alarm-page-container{
    max-width: 95vw;
    width: 1000px;
    margin-bottom: 70px;
}
.alarm-container-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.add-alarm-input{
    margin-right: 15px;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}
.add-alarm-button{
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(243, 113, 21);
    outline: none;
    border-radius: 5px;
    border: none;
}
.alarm-list-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}