* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  padding-top: 55px;
}

.app-title-container{
  padding: 25px;
  margin-bottom: 15px;
}
.lightMode-app-title-container{
  background-color: #ffe4c4;
}
.darkMode-app-title-container{
  background-color: #444;
}
.app-title{
  font-weight: bold;
}
.darkMode-App {
  background-color: #333;
  color: #fff;
}

.lightMode-App {
  background-color: antiquewhite;
}

/* .tasks-container {
  width: 550px;
  max-width: 65vw;
  margin: auto;
  margin-top: 55px;
  padding: 15px;
  border-radius: 5px;
} */

.single-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px 15px;
  background-color: #c7e5ee;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.action-btn {
  padding: 15px;
  align-items: center;
  margin: 0 4px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  display: inline-flex;
}

.task-title {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.check-sun-btn,
.check-moon-btn {
  padding-top: 4.5px;
  padding-left: 6px;
}