/* Calendar Container */
.calendar {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.today {
  background-color: yellow;
}

.weekend{
  background-color:rgb(218, 218, 218);
}
