/* Calendar Header */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.calendar-header h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.calendar-header button {
  background-color: #FFFFFF;
  color: #333333;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.calendar-header button:hover {
  transform: scale(1.1);
}

.calendar-header button:active {
  transform: scale(0.9);
}